html {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
a {color: inherit}
a:hover {color: inherit}

a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Space Mono', monospace !important;
}

h2 {margin-bottom: 0}
.footer {z-index: 10;}
.no-pad {padding: 0 !important;}
.col-md-6 {padding-left: 0; padding-right: 0;}
.bg-og { background-color: #F2B31D;}
.bg-gr { background-color: #DFECCA;}
.bg-ma { background-color: #7D2044;}
.bg-bl { background-color: #191919;}

.tx-og {color: #F6BF25 !important; }
.tx-gr {color: #E5EFD4 !important; }
.tx-ma {color: #913156 !important; }
.tx-bl {color: #212121 !important; }

.menu-title {font-size: 5.3em; letter-spacing: 10px; padding: 0.85em 0.3em; font-weight: bold;}
.md-menu-title {font-size: 4.7em; letter-spacing: 10px; padding: 0.81em 0.3em; font-weight: bold;}
.sm-menu-title {font-size: 3.0em; display: inline-block; letter-spacing: 1px; padding: 0.75em 0.6em;}
.xsm-menu-title {font-size: 2.3em; display: inline-block; letter-spacing: 1px; padding: 0.75em 0.6em;}

.content-body {background-color: #eee; height: 571px; overflow: auto; }

.abt-content { height: 571px; overflow: auto;}
.title-head {font-style: italic; font-size: 2.3em; line-height: 1.5em; letter-spacing: 1px; padding: 0.5em 1em;}
.abt-body {padding-top: 1em; padding-bottom: 1em; padding-left: 10em; padding-right: 4em;}

.event-container {height: 571px; overflow: auto; padding: 3em;}
.event-item h3 {margin-bottom: 0.5rem;}

.all-caps {text-transform: uppercase;}
.italic {font-style: italic;}
.bold {font-weight: bold;}

.form-container {padding: 2em 3em 2em 4em; height: 571px; overflow:auto;}
.form-group p {margin-top: 5px !important}
.ms-options img {margin-top: 1em; margin-bottom: 1em; max-height: 250px;}
.ms-options span {font-size: 0.8em;}
.instr {}
.form-control-file {margin-bottom: 1.45rem;}

.flex-wrap{ display: flex; flex-wrap: wrap;}



@media only screen
  and (min-width: 320px)
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 435px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 435px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 435px; overflow:auto; font-size: 13px;}
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* @media (min-width:320px)  {
} */

/*galaxy s5*/
@media only screen
  and (min-width: 360px)
  and (max-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 500px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 500px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 500px; overflow:auto; font-size: 13px;}
}

/*iphone 6/7*/
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 535px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 535px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 535px; overflow:auto; font-size: 13px;}
}


/*iphone x*/
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 690px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 690px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 690px; overflow:auto; font-size: 13px;}
}

/*iphone 6/7 plus*/
@media only screen
  and (min-width: 411px)
  and (max-width: 731px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 600px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 600px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 600px; overflow:auto; font-size: 13px;}
}

/*iphone 6/7 plus*/
@media only screen
  and (min-width: 411px)
  and (max-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .mtop {margin-top: 3.8rem;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 690px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 690px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 600px; overflow:auto; font-size: 13px;}
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .md-menu-title {font-size: 40px; padding: 2rem;}
    .abt-content { height: 600px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 600px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 600px; overflow:auto; font-size: 13px;}
}

/* ipad */
@media only screen
  and (min-width: 1024px)
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-mrgn {margin-top:1rem; font-size: 12px;}
    .md-menu-title {font-size: 76px; padding: 2rem;}
    .abt-content { height: 600px; overflow: auto;}
    .abt-body {padding-left: 7em; padding-right: 3em;}
    .event-container {height: 600px; overflow: auto; padding: 3em;}
    .form-container {padding: 3em 4em 0em 4em; height: 600px; overflow:auto; font-size: 13px;}
}


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .md-menu-title {font-size: 4.7em; letter-spacing: 10px; padding: 0.81em 0.3em; font-weight: bold;}
  .mtop {margin-top: 0rem;}
  .abt-content { height: 571px; overflow: auto;}
  .event-container {height: 571px; overflow: auto; padding: 3em;}
  .form-container {padding: 2em 3em 2em 4em; height: 571px; overflow:auto;}
  .navbar {display: none !important;}
  .footer-mrgn {margin-top:3rem; font-size: 14px;}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
  .md-menu-title {font-size: 4.7em; letter-spacing: 10px; padding: 0.81em 0.3em; font-weight: bold;}
}


@media only screen and (min-width: 768px) {
    .navbar {display: none !important;}
}
@media only screen and (min-width: 992px) {
    .navbar {display: none !important;}
}
@media only screen and (min-width: 1200px) {
    .navbar {display: none !important;}
    .footer-mrgn {margin-top:3rem; font-size: 14px;}
}
